@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background: $dark;
  position: sticky;
  top: 0;
  z-index: 100;

  .logo {
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .2s ease-out;

     &:hover{
        color:$primary;
        transform:scale(105%);
        transition:translateY(-2px);
    }
  }

  .nav {
    display: flex;
    align-items: center;

    a {
      margin-left: 1.5rem;
      color: $light;
      text-decoration: none;
      transition: all .2s ease-out;
    }
    a:hover{
        color:$primary;
        transform:scale(105%);
        transition:translateY(-2px);
    }

    .btn {
      background: $primary;
      padding: 0.5rem 1rem;
      border-radius: 999px;
      font-weight: 600;
    }
    .btn:hover{
        background-color: $dark;
        border:1px solid $primary;
    }
  }
}