
@import "../../styles/variables.scss";


.primaryBtn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background: $primary;
  color: $dark;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s ease-out;

  
   &:hover{
        color:$primary;
        background:$dark;
        border: 1px solid $primary;
        transform:scale(105%);
        transition:translateY(-2px);
    }

}


.cta {
  padding: 5rem 1.5rem;
  text-align: center;
}
