
@import "../../styles/variables.scss";



.hero {
  padding: 5rem 1.5rem;
  text-align: center;

  h1 {
    font-size: clamp(2rem, 5vw, 3.2rem);
    line-height: 1.2;

    span {
      color: $primary;
    }
  }

  p {
    margin: 1.5rem 0;
    color: $muted;
  }
}



.primaryBtn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background: $primary;
  color: $dark;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s ease-out;


   &:hover{
        color:$primary;
        background:$dark;
        border: 1px solid $primary;
        transform:scale(105%);
        transition:translateY(-2px);
    }
}





