@import "../../styles/variables.scss";

.section,
.sectionAlt {
  padding: 4rem 1.5rem;
  max-width: 1100px;
  margin: auto;
}

.sectionAlt {
  background: #0f1520;
}


.cards {
  display: grid;
  gap: 1.5rem;
  margin-top: 3rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background: #141a28;
  padding: 2rem;
  border-radius: 1rem;
}



.featured {
  border: 2px solid $primary;
}
