* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* prevent horizontal scroll */
}


body {

  width:100vw;
  min-height:100vh;
   margin: 0;
  padding: 0;
 
}
body {
  font-family: "Inter", system-ui, sans-serif;
  background: $dark;
  color: $light;
}
