* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: "Inter", system-ui, sans-serif;
  background: $dark;
  color: $light;
}
