@import "../styles/variables.scss";

.container {
  width: 100%;
  overflow-x: hidden;
}


.primaryBtn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  background: $primary;
  color: $dark;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
}





