

@import "../../styles/variables.scss";



.list {
  margin-top: 2rem;
  list-style: none;

  li {
    margin-bottom: 1rem;
    color: $muted;
  }
}


.section,
.sectionAlt {
  padding: 4rem 1.5rem;
  max-width: 1100px;
  margin: auto;
}

.sectionAlt {
  background: #0f1520;
}

